#svg {
    position: fixed;
    top: 0;
    left: 0;
}
#bahh{
    border-radius: 100%;
}
.cat {
    position: fixed;
    /* border: 1px solid #333;
    box-shadow: 10px 0 5px -2px #888; */
}
body{
    overflow: hidden;
    /* background-image: url("./img/back.jpg"); */
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
html{
    height: 100%    
}
.black{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.8);
    z-index: 1;
}

.foo{
    clip-path: url(#svgmask1);
}